//-----------------------------------------------------------------------------------------------------------------
// CS 5551
// Lab 4
// Jonathan Wolfe
// Bill Yerkes
// Create a simple ionic application using any of the ionic templates [tabs, sidemenu]
//     Make changes to the template to display
//     1. Login and Registration Activities
//     The application must have a sign up and login activities.
//
//     2. A Main page
//     The Page should be Mashup of at least Two Web Services (refer to the web services
//     from the spreadsheet). One of them should be from the list of knowledge/Machine
//     learning/AI services and that you haven’t used in your previous work.
//
//     3. Testing
//     Write at least 3-unit test cases related to your application.
//
//     Deploy the application to android device/ web/ ionic lab
//
// Adapted from https://devdactic.com/ionic-4-jwt-login/
//-----------------------------------------------------------------------------------------------------------------
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="UClassify">
      <ion-icon name="square"></ion-icon>
      <ion-label>UClassify</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Movies">
      <ion-icon name="square"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
